/* work */
.col-sm {
    border-style: solid;
    border-color: white;
    border-width: thick;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
  }
  /* nav/work */
  .red {
    background-color: var(--red)!important;
    color: white;
  }
  /* nav/work */
  .pink {
    background-color: var(--pink)!important;
  }
  
/* work */
.workRow {
    height: 40vh;
  }

/* work */
.pinkWorkBtn {
  width: 100%;
  height: 95%;
  border-radius: 100%;
  border: none;
  background: var(--pink);
  color: black !important;
  font-size: 20px;
  line-height: 1;
}
/* work */
.redWorkBtn {
  width: 100%;
  height: 95%;
  border-radius: 100%;
  border: none;
  background: var(--red);
  color: white !important;
  font-size: 20px;
  line-height: 1;
}
/* work */
.redWorkBtn:hover, .pinkWorkBtn:hover {
  /* background-image: url("assets/giphy.gif"); */
  background-size: 100%;
  color: white;
}
/* work */
.work {
  padding: 4%;
}